name: gradient_blur
description: A Flutter widget that creates a beautiful and performant gradient blur effect, perfect for headers, overlays, and modern UI designs.
version: 1.0.2+1
homepage: https://github.com/Dr-who412/gradienblur
repository: https://github.com/Dr-who412/gradienblur

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0